{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": [
        ">0.25%",
        "not ie 11",
        "not op_mini all"
      ]
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "presets": ["@babel/env"]
    }
  }
}
