.idea
vendor/
!assets/vendor
!frontend/scss/vendor
/node_modules
assets/dist/*
frontend/js/components/blocks/customs/*
!frontend/js/components/blocks/customs/.keep
frontend/js/components/customs/*
!frontend/js/components/customs/.keep
frontend/js/components/customs-vendor/*
!frontend/js/components/customs-vendor/.keep
frontend/icons-custom/*
views/partials/icons/icons-custom-svg.blade.php
.DS_Store
public/
tests/coverage
tests/storage
.phpunit.result.cache
.php-cs-fixer.cache
.env.local
.env.*.local
composer.lock
.github/clover.xml
:memory:
dist
dist-backup
.env
mike.md
