includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:

  paths:
    - src
    - routes
    - config
    - tests

  # 8 is the highest level
  level: 1

  databaseMigrationsPath:
    - migrations

  ignoreErrors:

  excludePaths:
    - tests/*
