parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method A17\\\\Twill\\\\Commands\\\\CapsuleInstall\\:\\:extractRepositoryFromUrl\\(\\)\\.$#"
			count: 1
			path: src/Commands/CapsuleInstall.php

		-
			message: "#^Access to an undefined property A17\\\\Twill\\\\Commands\\\\ModuleMake\\:\\:\\$capsuleNamespace\\.$#"
			count: 1
			path: src/Commands/ModuleMake.php

		-
			message: "#^Method A17\\\\Twill\\\\Commands\\\\ModuleMake\\:\\:createCapsuleRoutes\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: src/Commands/ModuleMake.php

		-
			message: "#^Variable \\$activeRepositoryTraits in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: src/Commands/ModuleMake.php

		-
			message: "#^Instantiated class League\\\\Flysystem\\\\AwsS3v3\\\\AwsS3Adapter not found\\.$#"
			count: 1
			path: src/Services/Cloud/Aws.php

