<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="tests/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnError="false" stopOnFailure="false" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".blade.php">./tests</directory>
    </exclude>
    <report>
      <clover outputFile="./.github/clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Twill Test Suites">
      <file>tests/unit/ValidationTest.php</file>
      <file>tests/unit/MediaLibrary/AbstractParamsProcessorTest.php</file>
      <file>tests/unit/MediaLibrary/TwicPicsParamsProcessorTest.php</file>
      <file>tests/integration/Commands/BuildTest.php</file>
      <file>tests/integration/Commands/ListBlocksTest.php</file>
      <file>tests/integration/Commands/ListIconsTest.php</file>
      <file>tests/integration/Commands/MakeBlockTest.php</file>
      <file>tests/integration/Commands/MakeModuleTest.php</file>
      <file>tests/integration/Commands/MakeSingletonTest.php</file>
      <file>tests/integration/Commands/SuperadminTest.php</file>
      <file>tests/integration/Commands/UpdateTest.php</file>
      <file>tests/integration/Commands/RefreshCropsTest.php</file>
      <file>tests/integration/FileLibraryTest.php</file>
      <file>tests/integration/LoginTest.php</file>
      <file>tests/integration/MediaLibraryTest.php</file>
      <file>tests/integration/ModulesAuthorsTest.php</file>
      <file>tests/integration/ModulesCategoriesTest.php</file>
      <file>tests/integration/UsersTest.php</file>
      <file>tests/integration/RoutesTest.php</file>
      <file>tests/integration/PasswordsTest.php</file>
      <file>tests/integration/CapsulesTest.php</file>
      <file>tests/integration/PermissionsLegacyTest.php</file>
      <file>tests/integration/PermissionsTest.php</file>
      <file>tests/integration/BrowsersTest.php</file>
      <file>tests/integration/NestedModuleTest.php</file>
      <file>tests/integration/SingletonModuleTest.php</file>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <env name="APP_KEY" value="base64:DV8kQN5a+4MwAIQ5uk1WNafxO+/Efab0K20uVMDJ2UE="/>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_URL" value="http://twill.test"/>
    <env name="APP_DEBUG" value="true"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
    <env name="MAIL_DRIVER" value="array"/>
    <env name="DB_CONNECTION" value="sqlite"/>
    <env name="DB_DATABASE" value=":memory:"/>
    <env name="LOG_CHANNEL" value="single"/>
    <env name="MEDIA_LIBRARY_LOCAL_PATH" value="media-library"/>
    <env name="FILE_LIBRARY_LOCAL_PATH" value="file-library"/>
    <env name="FILE_LIBRARY_ENDPOINT_TYPE" value="local"/>
    <env name="IMGIX_SOURCE_HOST" value=""/>
    <env name="IMGIX_USE_HTTPS" value=""/>
    <env name="IMGIX_USE_SIGNED_URLS" value=""/>
    <env name="IMGIX_SIGN_KEY" value=""/>
    <env name="GLIDE_SOURCE" value="storage/app/public/media-library"/>
    <env name="GLIDE_CACHE" value="storage/app/twill/cache"/>
    <env name="GLIDE_CACHE_PATH_PREFIX" value="glide_cache"/>
    <env name="GLIDE_BASE_URL" value="http://twill.test"/>
    <env name="GLIDE_BASE_PATH" value="storage/media-library"/>
    <env name="GLIDE_USE_SIGNED_URLS" value="false"/>
    <env name="GLIDE_SIGN_KEY" value=""/>
  </php>
</phpunit>
