<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
  <coverage>
    <report>
      <clover outputFile="./.github/clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Browser">
      <directory>tests/Browser</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory>tests/unit</directory>
      <directory>tests/integration</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <env name="APP_KEY" value="base64:DV8kQN5a+4MwAIQ5uk1WNafxO+/Efab0K20uVMDJ2UE="/>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_URL" value="127.0.0.1:8001"/>
    <env name="APP_DEBUG" value="true"/>
    <env name="ADMIN_APP_PATH" value="/twill"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="CACHE_STORE" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
    <env name="MAIL_DRIVER" value="array"/>
    <env name="DB_CONNECTION" value="mysql"/>
    <env name="DB_DATABASE" value="twill_testing_3x"/>
    <env name="LOG_CHANNEL" value="single"/>
    <env name="DB_USERNAME" value="root"/>
    <env name="DB_PASSWORD" value="root"/>
    <env name="XDEBUG_MODE" value="coverage"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".blade.php">./tests</directory>
    </exclude>
  </source>
</phpunit>
