/***

Box
===

A simple box with an header, a body and a footer where you can put listings into

```
<div class="styleguide--demo">
    <div class="box">
      <header class="box__header"><b>Box title</b></header>
      <div class="box__body">Content goes here</div>
      <footer class="box__footer">After content</footer>
    </div>
</div>
```

***/

.box {
  background:$color__background;
  border-radius:2px;
  border:1px solid $color__border;
  margin-top:20px;
}

.box__body {
  /*margin:0 -1px;*/
}

.box__header {
  height:60px;
  line-height:60px;
  border-bottom:1px solid $color__border--light;
  padding:0 20px;
}

.box__footer {
  height:60px;
  /*line-height:60px;*/
  border-top:1px solid $color__border--light;
  padding:20px;
}
