.card {
  border-radius: 4px;
  border: 1px solid var(--grey);
  padding: 21px 27px;
  min-height: 60px;
  margin-top: 20px;
}

.card p {
  margin-top: 16px;
}

.card a {
  @apply f-h4;
  text-decoration: none !important;
  font-weight: 600;
}

.card a:hover {
  @apply text-purple;
}

.card p:first-child {
  margin-top: 0;
}
