@layer components {
  .chapters-nav {
    margin-top: 32px;
  }

  .chapters-nav li {
    @apply mt-8;
  }

  .chapters-nav li:first-child {
    margin-top: 0;
  }

  .chapters-nav ul {
    border: 1px solid var(--grey);
    padding: 16px;
  }

  .chapters-nav a {
    @apply no-underline f-body-2 font-medium;
    text-decoration: none !important;
  }

  .chapters-nav a:hover {
    color: var(--purple) !important;
  }

  .chapters-nav-fixed {
    @apply pt-68;
  }

  .chapters-nav-fixed li {
    @apply mt-8;
    line-height: 1.2;
  }

  .chapters-nav-fixed li:first-child {
    margin-top: 0;
  }

  .chapters-nav-fixed > ul {
    border: 1px solid var(--grey);
    padding: 16px;
  }

  .chapters-nav-fixed > ul > li {
    margin-top: 16px;
  }

  .chapters-nav-fixed ul ul {
    margin-top: 8px;
    padding-left: 16px;
  }

  .chapters-nav-fixed a {
    @apply no-underline f-body-2 font-medium;
  }
}
