@layer components {
  .chapters-nav {
    @apply mt-32;
  }

  .chapters-nav li {
    @apply mt-8;
  }

  .chapters-nav li:first-child {
    margin-top: 0;
  }

  .chapters-nav a {
    @apply no-underline f-body-2 font-medium;
    text-decoration: none !important;
  }

  .chapters-nav a:hover {
    color: var(--purple) !important;
  }

  .chapters-nav-fixed {
    @apply pt-68 pb-16;
  }

  .chapters-nav-fixed li {
    @apply mt-8;
    line-height: 1.2;
  }

  .chapters-nav-fixed li:first-child {
    margin-top: 0;
  }

  .chapters-nav-fixed > ul {
    @apply p-16 border border-grey;
  }

  .chapters-nav-fixed > ul > li {
    @apply mt-16;
  }

  .chapters-nav ul ul,
  .chapters-nav-fixed ul ul {
    @apply mt-8 pl-16;
  }

  .chapters-nav-fixed a {
    @apply no-underline f-body-2 font-medium;
  }
}
