@import './css/markdown.css';
@import './css/card.css';
@import './css/link.css';
@import './css/code.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

.isMobile .sidebar {
  left: -100%;
  position: fixed;
  top: 0;
  margin-left: 0 !important;
  z-index: 3;
  padding-top: 40px;
  padding-left: 40px;
  min-width: 300px;
  width: 40%;
  padding-bottom: 60px;
}

.isMobile .sidebar > ul {
  padding-bottom: 60px;
}

.isMobile.openNav .sidebar {
  left: -10px;
}
