@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("/docs/Inter-Regular.woff2") format("woff2"),
       url("/docs/Inter-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  src: url("/docs/Inter-Medium.woff2") format("woff2"),
       url("/docs/Inter-Medium.woff") format("woff");
  font-display: block;
}

.twill-doc {
    font-family: Inter, -apple-system, -system-ui, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

.twill-doc p,
.twill-doc ul,
.twill-doc ol {
    line-height: 1.5625;
}

.twill-doc .navbar {
    height: 5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    line-height: 2.5rem;
    border-color:#e5e5e5;
}

.twill-doc .theme-default-content:not(.custom) > h1,
.twill-doc .theme-default-content:not(.custom) > h2,
.twill-doc .theme-default-content:not(.custom) > h3,
.twill-doc .theme-default-content:not(.custom) > h4,
.twill-doc .theme-default-content:not(.custom) > h5,
.twill-doc .theme-default-content:not(.custom) > h6 {
    margin-top: -3.1rem;
    padding-top: 6rem;
    margin-bottom: 0;
}

.twill-doc .sidebar {
    border-color:#e5e5e5;
}


.twill-doc .sidebar-button {
  top:1.4rem;
}

.twill-doc .navbar .links {
  top:1.25rem;
  font-size: 1rem;
}

.twill-doc .sidebar {
  top:5rem;
}

@media (max-width: 959px) {
  .twill-doc .sidebar {
    top: 1.4rem;
  }
}

.twill-doc .navbar .site-name {
    width:93px;
    height:38px;

    background-image: url("data:image/svg+xml, %3Csvg  xmlns='http://www.w3.org/2000/svg' width='93' height='38' viewBox='0 0 93 38'%3E%3Cpath fill='000000' d='M72 1h9v37h-9zM84 1h9v37h-9z'/%3E%3Ccircle fill='000000' cx='64.5' cy='5.5' r='5.1'/%3E%3Cpath fill='000000' d='M45.924 26.548L39.686 13H34.13l-6.237 13.158L21.898 13H12V6H3v7H0v7h3v18h9V20h3.527l9.344 18h5.994l5.946-13.694L43.049 38h5.896l9.516-18H60v18h9V13H52.21z'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position:0 0;
    overflow:hidden;
    text-indent:999em;
    color:transparent;
    font-size:0px;
    position: relative;
    top: 0;
}

.twill-doc h1,
.twill-doc h2 {
    font-size: 2.5rem;
}

.twill-doc h2 {
    border-bottom: 0 none;
}

.twill-doc h3 {
    font-size: 1.4375rem;
}

.twill-doc h4,
.twill-doc h5 {
    font-size: 1rem;
}

.twill-doc .theme-default-content:not(.custom) {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.twill-doc .sidebar .sidebar-links:not(.sidebar-group-items) {
    padding: 2rem 0;
}

.twill-doc a.sidebar-link.active {
  border-left-color: transparent
}

.twill-doc .custom-block.tip,
.twill-doc .custom-block.warning,
.twill-doc .custom-block.danger {
  border-left-width: 0;
}

// .twill-doc .search-box {
//   margin-right:0;
// }

.twill-doc .search-box input {
  border-radius:4px;
  height:2.5rem;
  border-color:#e5e5e5;
  background-position:0.6rem center;
  color:black;
}

@media (max-width: 959px) {
  .twill-doc .search-box input {
    border-color: transparent;
  }
}

.twill-doc .search-box input:focus {
  border-color:rgba(0, 0, 0, 0.5);
}

.nav-links .nav-item:last-child a.nav-link.external {
  background-color: #000000;
  height: 2.36rem;
  line-height: 2.36rem;
  border-radius: 4px;
  color: white;
  padding: 3px 20px 0 55px;
  font-weight:400;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='20'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFFFFF' d='M9.293.066C4.534.584.654 4.333.079 8.976c-.628 5.072 2.542 9.524 7.102 11.006.525.094.717-.222.717-.494 0-.243-.01-.888-.014-1.744-2.921.62-3.538-1.374-3.538-1.374-.477-1.185-1.165-1.5-1.165-1.5-.954-.636.072-.623.072-.623 1.054.072 1.608 1.056 1.608 1.056.937 1.567 2.458 1.115 3.056.852.095-.662.367-1.114.667-1.37-2.332-.26-4.783-1.139-4.783-5.068 0-1.12.409-2.034 1.08-2.751-.107-.26-.468-1.302.104-2.714 0 0 .881-.275 2.887 1.051a10.284 10.284 0 0 1 2.629-.345 10.3 10.3 0 0 1 2.628.345c2.005-1.326 2.885-1.05 2.885-1.05.573 1.411.212 2.453.104 2.713a3.905 3.905 0 0 1 1.08 2.751c0 3.94-2.455 4.806-4.794 5.06.377.316.712.942.712 1.898 0 1.371-.012 2.477-.012 2.813 0 .274.189.593.722.493C17.994 18.623 21 14.782 21 10.254 21 4.202 15.632-.624 9.293.066z'/%3E%3C/svg%3E");
  background-position: 20px center;
  background-repeat:no-repeat;
}

.nav-links .nav-item:last-child a.nav-link.external:hover {
  background-color: #333;
}

.twill-doc .nav-links .nav-item:last-child a.nav-link.external svg.outbound {
  display:none;
}

.twill-doc .suggestions li a {
  color:black;
}

.twill-doc .icon.outbound {
    margin-left: 5px;
}
