/***

External links text
===================

Showing an arrow close to the text :

```
<div class="styleguide--demo">
    <a class="f--external" href="#" target="_blank">Permalink</a>
</div>
```

***/

.f--external {
  position:relative;
  text-decoration:none;

  &:after {
    content: "\2197";
    font-size:12px;
    color:inherit;
    position:absolute;
    top:0;
    /*bottom:0em;*/
    vertical-align:baseline;
    transform: translateX(50%);
    font-weight:400;
  }
}

.f--small .f--external,
.f--small.f--external {
  &:after {
    /*bottom:-0.1em;*/
  }
}
