/***

Icon
====

SVG Icons (see svg.js)


```
<div class="styleguide--demo">
    <span class="icon icon--${id}"><svg><title>id</title><use xlink:href="#icon--${id}"></use></svg></span>
</div>
```

***/
@import '~svg-spritemap-webpack-plugin/svg-sprite-icons';
@import '~svg-spritemap-webpack-plugin/svg-sprite-icons-files';

$icon-upscale-factor: 1.8;

@each $name, $icon in $icons-sizes {
  .icon--#{$name},
  .icon--#{$name} svg {
    width: map_get($icon, 'width');
    height: map_get($icon, 'height');
  }

  .is-upscaled {
    .icon--#{$name},
    .icon--#{$name} svg {
      width: map_get($icon, 'width') * $icon-upscale-factor;
      height: map_get($icon, 'height') * $icon-upscale-factor;
    }
  }
}

@each $name, $icon in $icons-files-sizes {
  .icon--#{$name},
  .icon--#{$name} svg {
    width: map_get($icon, 'width');
    height: map_get($icon, 'height');
  }

  .is-upscaled {
    .icon--#{$name},
    .icon--#{$name} svg {
      width: map_get($icon, 'width') * $icon-upscale-factor;
      height: map_get($icon, 'height') * $icon-upscale-factor;
    }
  }
}

.icon {
  display:inline-block;

  svg {
    vertical-align:inherit;
    display:inherit;
  }
}
