/***

Notification
============

Self destructing notification showing at the bottom of the page

```
<div class="styleguide--demo">
    <div class="notif notif--success">Login complete</div>
</div>
```

***/

@keyframes godown {
  0% {
    transform: translateY(0);
    opacity:1;
  }
  90% {
    opacity:1;
  }
  100% {
    transform: translateY(100%);
    opacity:0;
  }
}

.notif {
  position:fixed;
  bottom:0;
  height:60px;
  line-height:60px;
  width:100%;
  left:0;
  right:0;
  white-space:nowrap;
  overflow:hidden;
  z-index:$zindex__notif;
  background:$color__notif--default;
  text-align:center;
  animation: godown 0.3s 3s normal forwards;
}

.notif--success {
  background:$color__notif--success;
}

.notif--error {
  color:$color__background;
  background:$color__notif--error;
}
