/***

Navbar
======

The Form navbar

***/

.navbar {
  width:100%;
  background-color:$color__border--light;
  overflow:hidden;
  margin-bottom:20px;
}

.navbar--sticky {
  min-height:90px;
}

.navbar .container {
  display:flex;
}
