/***

Search
======

Every decent CMS need a search engine

```
<div class="styleguide--demo">
  <div class="searchWrapper">
    <div class="searchWrapper__overlay">
    </div>
    <div class="container search">
      Search form goes here
    </div>
  </div>
</div>
```

***/



.searchWrapper[v-cloak] {
  display: none;
}

.searchWrapper,
.searchWrapper__overlay {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  bottom:0;
  z-index: $zindex__search;
}

.searchWrapper__overlay {
  background: rgba($color__overlay--header, 0.5);
  z-index: $zindex__search - 1;
}
