.icon--add { width: 10px; height: 10px }
.icon--check { width: 11px; height: 11px }
.icon--close_icon { width: 10px; height: 10px }
.icon--close_modal { width: 16px; height: 16px }
.icon--content-editor { width: 14px; height: 13px }
.icon--crop { width: 16px; height: 18px }
.icon--download { width: 12px; height: 16px }
.icon--dropdown_default { width: 9px; height: 5px }
.icon--dropdown_module { width: 10px; height: 6px }
.icon--edit { width: 13px; height: 13px }
.icon--expand { width: 10px; height: 10px }
.icon--fix-grid { width: 18px; height: 14px }
.icon--flex-grid { width: 18px; height: 17px }
.icon--google-sign-in { width: 23px; height: 24px }
.icon--image { width: 20px; height: 15px }
.icon--info { width: 21px; height: 21px }
.icon--more-dots { width: 14px; height: 4px }
.icon--pagination_left { width: 9px; height: 15px }
.icon--pagination_right { width: 9px; height: 15px }
.icon--preferences { width: 26px; height: 16px }
.icon--preview-mobile { width: 12px; height: 18px }
.icon--preview-tablet-h { width: 27px; height: 20px }
.icon--preview-tablet-v { width: 20px; height: 27px }
.icon--preview { width: 22px; height: 14px }
.icon--preview_desktop { width: 39px; height: 30px }
.icon--publish { width: 22px; height: 15px }
.icon--quote { width: 16px; height: 13px }
.icon--revision-compare { width: 23px; height: 16px }
.icon--revision-single { width: 23px; height: 16px }
.icon--search { width: 20px; height: 20px }
.icon--slideshow { width: 20px; height: 16px }
.icon--star-feature { width: 20px; height: 19px }
.icon--star-feature_active { width: 20px; height: 19px }
.icon--text { width: 17px; height: 13px }
.icon--trash { width: 15px; height: 17px }
.icon--wysiwyg_bold { width: 12px; height: 13px }
.icon--wysiwyg_italic { width: 10px; height: 13px }
.icon--wysiwyg_link { width: 21px; height: 10px }
.icon--wysiwyg_underline { width: 12px; height: 14px }
