.icon--wysiwyg_add_col_after, .icon--wysiwyg_add_col_after svg { width: 12px; height: 12px }
.icon--wysiwyg_add_col_before, .icon--wysiwyg_add_col_before svg { width: 12px; height: 12px }
.icon--wysiwyg_add_row_after, .icon--wysiwyg_add_row_after svg { width: 12px; height: 12px }
.icon--wysiwyg_add_row_before, .icon--wysiwyg_add_row_before svg { width: 12px; height: 12px }
.icon--wysiwyg_bold, .icon--wysiwyg_bold svg { width: 12px; height: 12px }
.icon--wysiwyg_checklist, .icon--wysiwyg_checklist svg { width: 12px; height: 12px }
.icon--wysiwyg_code, .icon--wysiwyg_code svg { width: 12px; height: 12px }
.icon--wysiwyg_combine_cells, .icon--wysiwyg_combine_cells svg { width: 12px; height: 12px }
.icon--wysiwyg_delete_col, .icon--wysiwyg_delete_col svg { width: 12px; height: 12px }
.icon--wysiwyg_delete_row, .icon--wysiwyg_delete_row svg { width: 12px; height: 12px }
.icon--wysiwyg_delete_table, .icon--wysiwyg_delete_table svg { width: 12px; height: 12px }
.icon--wysiwyg_github, .icon--wysiwyg_github svg { width: 12px; height: 12px }
.icon--wysiwyg_hr, .icon--wysiwyg_hr svg { width: 12px; height: 12px }
.icon--wysiwyg_image, .icon--wysiwyg_image svg { width: 12px; height: 12px }
.icon--wysiwyg_italic, .icon--wysiwyg_italic svg { width: 12px; height: 12px }
.icon--wysiwyg_link, .icon--wysiwyg_link svg { width: 12px; height: 12px }
.icon--wysiwyg_mention, .icon--wysiwyg_mention svg { width: 12px; height: 12px }
.icon--wysiwyg_ol, .icon--wysiwyg_ol svg { width: 12px; height: 12px }
.icon--wysiwyg_paragraph, .icon--wysiwyg_paragraph svg { width: 12px; height: 12px }
.icon--wysiwyg_quote, .icon--wysiwyg_quote svg { width: 12px; height: 12px }
.icon--wysiwyg_redo, .icon--wysiwyg_redo svg { width: 12px; height: 12px }
.icon--wysiwyg_remove, .icon--wysiwyg_remove svg { width: 12px; height: 12px }
.icon--wysiwyg_strike, .icon--wysiwyg_strike svg { width: 12px; height: 12px }
.icon--wysiwyg_table, .icon--wysiwyg_table svg { width: 12px; height: 12px }
.icon--wysiwyg_ul, .icon--wysiwyg_ul svg { width: 12px; height: 12px }
.icon--wysiwyg_underline, .icon--wysiwyg_underline svg { width: 12px; height: 12px }
.icon--wysiwyg_undo, .icon--wysiwyg_undo svg { width: 12px; height: 12px }
