.icon--add, .icon--add svg { width: 10px; height: 10px }
.icon--arrow-external, .icon--arrow-external svg { width: 8px; height: 8px }
.icon--arrow-sort, .icon--arrow-sort svg { width: 9px; height: 11px }
.icon--check, .icon--check svg { width: 11px; height: 11px }
.icon--close_icon, .icon--close_icon svg { width: 10px; height: 10px }
.icon--close_modal, .icon--close_modal svg { width: 16px; height: 16px }
.icon--colors, .icon--colors svg { width: 17px; height: 17px }
.icon--content-editor, .icon--content-editor svg { width: 14px; height: 13px }
.icon--crop, .icon--crop svg { width: 16px; height: 18px }
.icon--download, .icon--download svg { width: 12px; height: 16px }
.icon--drag, .icon--drag svg { width: 8px; height: 17px }
.icon--dropdown_default, .icon--dropdown_default svg { width: 9px; height: 5px }
.icon--dropdown_module, .icon--dropdown_module svg { width: 10px; height: 6px }
.icon--edit, .icon--edit svg { width: 13px; height: 13px }
.icon--edit_large, .icon--edit_large svg { width: 14px; height: 14px }
.icon--editor, .icon--editor svg { width: 14px; height: 13px }
.icon--expand, .icon--expand svg { width: 10px; height: 10px }
.icon--fix-grid, .icon--fix-grid svg { width: 18px; height: 14px }
.icon--flex-grid, .icon--flex-grid svg { width: 18px; height: 17px }
.icon--google-sign-in, .icon--google-sign-in svg { width: 23px; height: 24px }
.icon--image-text, .icon--image-text svg { width: 30px; height: 13px }
.icon--image, .icon--image svg { width: 19px; height: 15px }
.icon--info, .icon--info svg { width: 21px; height: 21px }
.icon--location, .icon--location svg { width: 12px; height: 16px }
.icon--media-grid, .icon--media-grid svg { width: 12px; height: 12px }
.icon--media-list, .icon--media-list svg { width: 16px; height: 10px }
.icon--more-dots, .icon--more-dots svg { width: 14px; height: 4px }
.icon--pagination_left, .icon--pagination_left svg { width: 9px; height: 15px }
.icon--pagination_right, .icon--pagination_right svg { width: 9px; height: 15px }
.icon--preferences, .icon--preferences svg { width: 26px; height: 16px }
.icon--preview-desktop, .icon--preview-desktop svg { width: 39px; height: 30px }
.icon--preview-mobile, .icon--preview-mobile svg { width: 12px; height: 18px }
.icon--preview-tablet-h, .icon--preview-tablet-h svg { width: 27px; height: 20px }
.icon--preview-tablet-v, .icon--preview-tablet-v svg { width: 20px; height: 27px }
.icon--preview, .icon--preview svg { width: 22px; height: 14px }
.icon--publish, .icon--publish svg { width: 22px; height: 15px }
.icon--quote, .icon--quote svg { width: 16px; height: 13px }
.icon--revision-compare, .icon--revision-compare svg { width: 23px; height: 16px }
.icon--revision-single, .icon--revision-single svg { width: 23px; height: 16px }
.icon--search, .icon--search svg { width: 20px; height: 20px }
.icon--slideshow, .icon--slideshow svg { width: 20px; height: 16px }
.icon--star-feature, .icon--star-feature svg { width: 20px; height: 19px }
.icon--star-feature_active, .icon--star-feature_active svg { width: 20px; height: 19px }
.icon--text-2col, .icon--text-2col svg { width: 26px; height: 13px }
.icon--text, .icon--text svg { width: 17px; height: 13px }
.icon--trash, .icon--trash svg { width: 15px; height: 17px }
.icon--wysiwyg_bold, .icon--wysiwyg_bold svg { width: 12px; height: 13px }
.icon--wysiwyg_header-2, .icon--wysiwyg_header-2 svg { width: 18px; height: 18px }
.icon--wysiwyg_header-3, .icon--wysiwyg_header-3 svg { width: 18px; height: 18px }
.icon--wysiwyg_header-4, .icon--wysiwyg_header-4 svg { width: 18px; height: 18px }
.icon--wysiwyg_header-5, .icon--wysiwyg_header-5 svg { width: 18px; height: 18px }
.icon--wysiwyg_header-6, .icon--wysiwyg_header-6 svg { width: 18px; height: 18px }
.icon--wysiwyg_header, .icon--wysiwyg_header svg { width: 18px; height: 18px }
.icon--wysiwyg_italic, .icon--wysiwyg_italic svg { width: 10px; height: 13px }
.icon--wysiwyg_link, .icon--wysiwyg_link svg { width: 21px; height: 10px }
.icon--wysiwyg_underline, .icon--wysiwyg_underline svg { width: 12px; height: 13px }
