.container,
%container {
  margin-right: auto;
  margin-left: auto;

  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      @if (map-get($main-col-widths, $name) == 'fluid') {
        width: auto;
      } @else {
        width: map-get($main-col-widths, $name) + map-get($outer-gutters, $name) + map-get($outer-gutters, $name);
      }
      padding-right: map-get($outer-gutters, $name);
      padding-left: map-get($outer-gutters, $name);
    }
  }
}

.container--full {
  @each $name, $point in $breakpoints {
    @include breakpoint('#{$name}') {
      width: auto;
    }
  }
}
