/*
Suisse Font is not used because of licensing issues

// ####################################################
// Load fonts
//
// Use below @font-face declaration template to load fonts
// Copy/paste for each font to be loaded

@font-face {
    font-family: 'Suisse';
    src: url('../fonts/SuisseIntl-Regular-WebXL.eot');
    src: url('../fonts/SuisseIntl-Regular-WebXL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SuisseIntl-Regular-WebXL.woff2') format('woff2'),
         url('../fonts/SuisseIntl-Regular-WebXL.woff') format('woff'),
         url('../fonts/SuisseIntl-Regular-WebXL.ttf') format('truetype'),
         url('../fonts/SuisseIntl-Regular-WebXL.svg#suisse_intlregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Suisse";
    src: url('../fonts/SuisseIntl-Book-WebS.eot');
    src: url('../fonts/SuisseIntl-Book-WebS.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SuisseIntl-Book-WebS.woff2') format('woff2'),
         url('../fonts/SuisseIntl-Book-WebS.woff') format('woff'),
         url('../fonts/SuisseIntl-Book-WebS.ttf') format('truetype'),
         url('../fonts/SuisseIntl-Book-WebS.svg#suisse_intlbook') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: "Suisse";
    src: url('../fonts/SuisseIntl-Medium-WebXL.eot');
    src: url('../fonts/SuisseIntl-Medium-WebXL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SuisseIntl-Medium-WebXL.woff2') format('woff2'),
         url('../fonts/SuisseIntl-Medium-WebXL.woff') format('woff'),
         url('../fonts/SuisseIntl-Medium-WebXL.ttf') format('truetype'),
         url('../fonts/SuisseIntl-Medium-WebXL.svg#suisse_intlmedium') format('svg');
    font-weight: 700;
}

// ####################################################
// Site font stack variables
//
// uncomment and complete stack with project fonts
// xxxxx--loaded variables need a font loader to be activated (see setup/mixins/typography for CSS rule) :
// https://code.area17.com/mike/a17-js-helpers/wikis/A17-Helpers-fontObservers

"Suisse", "HelveticaNeue", Helvetica, Arial, Verdana, sans-serif;
$sans-serif--loaded: "Suisse", "HelveticaNeue", Helvetica, Arial, Verdana, sans-serif;
*/

$sans-serif: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
/*
Sans Serif Loaded is not used because we are loading fonts (we use system fonts only)
$sans-serif--loaded: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
*/

